body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}
* {
  box-sizing: border-box;
}
#refresh {
    text-decoration: none; 
    color: black;
   } 

   
.containerMain {
    
}
.containerAddUpdateDelete {
    
    width: 600px;
    border: 1px solid #ccc;
}
.containerSearch {
    width: 600px;
    border: 1px solid #ccc;
}
.containerTable {
    position: absolute;
    left: 600px;
    top: 0px;
    width: 853px;
    height: 647px;
    max-height: 647px;
    border: 1px solid #ccc;
}
#tableResult {
    height: 614px;
    width: 853px;
    overflow: auto;
    font-size: 14px;
    word-wrap: break-word;
}
#tableColum {
    max-width: 200px;
}
.AddUpdateDelete {
    width: 200px;
    position: relative;
    left: 10%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
.search {
    width: 200px;
    position: relative;
    left: 10%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
.logOutForm{
    position: relative;
    left: 572px;
}
#lableStatus {
    position: absolute;
    top: 10px;
    left: 15px;
}
#statusBar {
    position: absolute;
    left: 80px;
    top: 7px;
    font-size: 20px;
    
    
}
.btnSearch {
  width: 100%;
  display: inline;
  border: 0;
  padding: 10px;
  background-color: #00b3b3;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.btnSearch:hover {
  background-color: #008080;
  cursor: pointer;
}
#stats {
    max-width: 200px;
    max-height: 55px;
}
.containerIndex {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.form {
  width: 250px;
  margin: 0 auto;
}
.form-title {
  text-align: center;
}
.form-group {
  margin-bottom: 10px;
  position: relative;
}
.form-input,
.form-textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}
.form-input:focus,
.form-textarea:focus {
  outline: 0;
  border-color: #6ebbd8;
  box-shadow: 0 0 5px #6ebbd8;
}
.error,
.error {
  border-color: #e85656;
  box-shadow: 0 0 3px #e85656;
}
.success,
.success {
  border-color: #7dbf23;
  box-shadow: 0 0 3px #7dbf23;
}
label.error {
  width: 300px;
  display: block;
  padding-left: 10px;
  font-size: 12px;
  color: #e85656;
  position: absolute;
  left: 45%;
  top: 10px;
  z-index: 1;
  box-shadow: 0 0 0px #e85656;
}
.form-textarea {
  font-family: Arial, sans-serif;
  resize: vertical;
}
.form-btn {
  width: 32.8%;
  display: inline;
  border: 0;
  padding: 10px;
  background-color: #66a3ff;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.form-btn:hover {
  background-color: #3385ff;
  cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn-container > button {
  width: 200px;
  display: block;
  border: 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.form-btn1 {
  padding: 10px;
  background-color: #39be6c;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.form-btn1:hover {
  background-color: #33aa61;  
}
.form-btn2 {
  background-color: #ffb84d;  
}
.form-btn2:hover {
  background-color: #ffa31a;
}
.form-btn3 {
  background-color: #ff8080;
}
.form-btn3:hover {
  background-color: #ff4d4d;
}

.btn2 {
  width: 49%;
  display: inline;
  border: 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #ffb84d;  
}

.btn2:hover {
  background-color: #ffa31a;
  cursor: pointer;
}

#incomingMessage {
    text-align: left;
    width: 120%;
    
}

.message {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #efa0a0;
  color: #cc5555;
  text-align: center;
  font-size: 14px;
}
.message:empty {
  display: none;
}
